.wrapper {
  max-width: 1000px;
  padding: 45px 20px 20px;
  width: 100%;
  height: auto;
  background: white;
  box-shadow: 1px 1px 15px 0.3px var(--dark-cyan);
  border-radius: 8px;
  border-left: 7px solid var(--dark-cyan);
  position: relative;
}

.wrapper2 {
  width: 100%;
  height: auto;
}

.mid {
  width: 100%;
  height: auto;
}

.img {
  position: absolute;
  top: -30px;
}

.names {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.names p {
  font-weight: 700;
}

.name {
  font-size: 20px;
  color: var(--dark-cyan);
  margin-right: 20px;
}

.new,
.featured {
  border-radius: 50px;
  padding: 10px 12px 7px;
  font-size: 15px;
  text-align: center;
  color: white;
}

.new {
  background: var(--dark-cyan);
  margin-right: 10px;
}

.featured {
  background: var(--very-dark-grayish-cyan);
  color: white;
}

.title {
  color: var(--very-dark-grayish-cyan);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.title:hover {
  color: var(--dark-cyan);
}

.tags {
  font-size: 17px;
  color: var(--dark-grayish-cyan);
}

.hr {
  margin: 15px 0;
}

.stacks {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.stack {
  padding: 10px;
  background: var(--cyan-one);
  color: var(--dark-cyan);
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
}

.stack:hover {
  background: var(--dark-cyan);
  color: white;
}

.title,
.stack {
  cursor: pointer;
}

@media (width >= 508px) {
  .wrapper {
    padding: 20px;
  }

  .wrapper2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .img {
    position: relative;
    top: initial;
    width: 80px;
    height: 80px;
    margin-right: 30px;
  }
}

@media (width >= 800px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .stacks {
    width: 90%;
    justify-content: flex-end;
    padding: 0;
  }

  .hr {
    display: none;
  }
}
