@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --cyan-one: hsl(180, 52%, 96%);
  --cyan-two: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

body {
  width: 100%;
  min-height: 100vh;
}

#__next {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.head-img {
  width: 100%;
  height: 150px;
  background: var(--dark-cyan);
  background-image: url("/bg-header-mobile.svg");
}

.card-div {
  width: 100%;
  height: auto;
  padding: 70px 20px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

@media (width >= 508px) {
  .head-img {
    background-image: url("/bg-header-desktop.svg");
  }
  .card-div {
    gap: 30px;
    padding: 70px 30px;
  }
}
